<section class="search__section">
  <article class="search-art" id="uk">
    <form class="search-form" id="search-form">
      <input
        type="text"
        name="searchQuery"
        autocomplete="off"
        placeholder="Search images..."
      />
      <button type="submit" class="searchBtn">Search</button>
    </form>
</section>
    <!-- <section class="gallery__Section"> -->
      <div class="gallery"></div>
    <!-- </section> -->
    <button type="button" class="load-more hide">Load more</button>
  </article>

